@using VenturaHR.Models;

@inject Microsoft.AspNetCore.Identity.UserManager<AspNetIdentityDbContext.User> userManager
@inject Services.Person.PersonService personService
@{
    var user = await userManager.GetUserAsync(User);
    var person = user != null ? personService.GetDataById(user.PersonId.Value) : null;
    bool isAdmin = person != null ? (person.PersonTypeId == (int)DTO.Person.PersonType.Administrator? true:false) : false;
}


<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - VenturaHR</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Jquery -->
    <script type="text/javascript" src="~/js/jquery/jquery-3.5.1.min.js"></script>

    <!-- Datatables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">



    @{
        //await Html.RenderPartialAsync("~/Views/Shared/Fragments/Header.cshtml");
        //await RenderSectionAsync("Styles", false);
        await RenderSectionAsync("head", false);
    }
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="@Url.Action("Index", "Home")" class="logo d-flex align-items-center">
                <img src="~/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block">VenturaHR</span>
            </a>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block">
                    <a class="text-decoration-underline pe-2" href="@Url.Action("Index", "Opportunity")">Vagas</a>
                </li>

                <li class="nav-item d-block">
                    <a class="text-decoration-underline pe-2" href="@Url.Action("SignIn", "Account")?PersonType=@((int)DTO.Person.PersonType.Company)">Sou Empresa</a>
                </li>

                <li class="nav-item d-block">
                    <a class="text-decoration-underline pe-2" href="@Url.Action("SignIn", "Account")?PersonType=@((int)DTO.Person.PersonType.Candidate)">Sou Candidato</a>
                </li>

                @if (user != null)
                {

                    <li class="nav-item dropdown pe-3">

                        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                            <span class="d-none d-md-block dropdown-toggle ps-2">@user.FirstName</span>
                        </a><!-- End Profile Iamge Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6></h6>
                                <span>Web Designer</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Manage", "Person")?id=@user.PersonId">
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            @if (isAdmin)
                            {
                                <li>
                                    <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Index", "User")">
                                        <i class="bi bi-people"></i>
                                        <span>Usuários</span>
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            }

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("Index", "Opportunity")?PersonId=@user.PersonId">
                                    <i class="bi bi-collection"></i>
                                    <span>Vagas</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="@Url.Action("SignOut", "Account")">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul><!-- End Profile Dropdown Items -->
                    </li><!-- End Profile Nav -->
                }

            </ul>
        </nav><!-- End Icons Navigation -->

    </header>
    <main id="main" class="main">
        <section class="section">
            @RenderBody()
        </section>
    </main>


    <footer id="footer" class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - VenturaHR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div class="text-center mb-3">
            <a href="@Url.Action("SignIn", "Account")?PersonType=@((int)DTO.Person.PersonType.Administrator)">Login Administrador</a>
        </div>
    </footer>

    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/lib/jqueryMask/jquery.mask.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Vendor JS Files -->

    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.min.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    @{
        //await Html.RenderPartialAsync("~/Views/Shared/Fragments/Scripts.cshtml");
        await RenderSectionAsync("Scripts", false);
    }
</body>
</html>
