@model DTO.Account.SignInViewModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" action="@Url.Action("SignIn", "Account")">
    <input type="hidden" name="returnUrl" value="@System.Web.HttpUtility.HtmlEncode(!Context.Request.Query.ContainsKey("ReturnUrl")? (object)"" : Context.Request.Query["ReturnUrl"])" />
    <input type="hidden" name="personType" value="@System.Web.HttpUtility.HtmlEncode(!Context.Request.Query.ContainsKey("PersonType")? (object)"" : Context.Request.Query["PersonType"])" />
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">VenturaHR</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                                    <p class="text-center small">Enter your username & password to login</p>
                                </div>
                                @if (ViewData["ErrorMessage"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <i class="bi bi-exclamation-octagon me-1"></i>
                                        @ViewData["ErrorMessage"]
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                }
                            <div class="row g-3 needs-validation" novalidate>

                                <div class="col-12">
                                    <label for="yourEmail" class="form-label">Email</label>
                                    <input type="email" name="Email" class="form-control" id="yourEmail" required>
                                    <div class="invalid-feedback">Please enter your email!</div>
                                </div>

                                <div class="col-12">
                                    <label for="yourPassword" class="form-label">Password</label>
                                    <input type="password" name="Password" class="form-control" id="yourPassword" required>
                                    <div class="invalid-feedback">Please enter your password!</div>
                                </div>

                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="RememberMe" value="false" id="rememberMe">
                                        <label class="form-check-label" for="rememberMe">Remember me</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary w-100" type="submit">Login</button>
                                </div>
                                @if (Context.Request.Query["PersonType"] != "1")
                                {
                                    <div class="col-12">
                                        <p class="small mb-0">Don't have account? <a href="@Url.Action("Register", "Account")@(Html.Raw(Context.Request.Query.ContainsKey("PersonType") ? $"?PersonType={Context.Request.Query["PersonType"]}" : ""))">Create an account</a></p>
                                    </div>
                                }
                            </div>

                            </div>
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
    <!--<input type="hidden" name="returnUrl" value="@System.Web.HttpUtility.HtmlEncode(!Context.Request.Query.ContainsKey("ReturnUrl")? (object)"" : Context.Request.Query["ReturnUrl"])" />
    <div class="row" style="margin-top: 1em; margin-bottom: 1em;">
        <div class="col-md-12 text-center">-->
    @*<img src="~/image/logo2.png" style="height: 145px;" />*@
    <!--</div>
    </div>
    <div class="card mx-auto shadow bg-light" style="max-width: 500px;">
        <div class="card-body">
            @if (Context.Request.Query.ContainsKey("passwordchanged"))
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <span>Senha alterada com sucesso!</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">@ViewData["ErrorMessage"]</div>
            }
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="Email">E-mail</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input class="form-control" type="text" name="Email" placeholder="E-mail" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="Password">Senha</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input class="form-control" type="password" name="Password" placeholder="Senha" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="false" id="RememberMe" name="RememberMe">
                        <label class="form-check-label" for="RememberMe">
                            Manter conectado
                        </label>
                    </div>
                    <a href="@Url.Action("PasswordRecovery", "Account")">Esqueceu a senha?</a>
                </div>
                <div class="col-md-6 text-right" style="line-height:56px; vertical-align:middle;">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in-alt"></i>&nbsp;Entrar</button>
                </div>
            </div>
        </div>
    </div>-->
</form>